*.progress {
  align-items: center;
  background-color: #ccc;
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 10000;
}

*.progress[hidden] {
  display: none;
}

dd {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

textarea {
  display: block;
  min-height: 5em;
  resize: vertical;
}
